

client/.idea
client/.vs/*
client/Bundles/*
client/BundlesCache/*
client/Export/*
client/HybridCLRData/*
client/Library/*
client/Logs/*
client/obj/*
client/Temp/*
client/UserSettings/*


client/Assets/GeneratedLocalRepo
#client/Assets/HybridCLRGenerate


*.vsconfig
*.csproj
*.user
*.csproj
*.sln
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.vsconfig



